body.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #14213d;
}
#h1 {
  color: #e5e5e5;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 2.2rem;
}

img {
  height: 300px;
  width: 250px;
  border-radius: 5px;
}

#infoDump {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#search {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btn {
  padding: 11px 30px;
  border: none;
  background-color: black;
  color: #e5e5e5;
  font-size: 1.2rem;
  border-radius: 5px;
}
#search input {
  width: 350px;
  height: 40px;
  margin-right: 10px;
  font-size: large;
  border-radius: 20px;
  text-align: center;
}

::placeholder {
  text-align: center;
}
.card {
  background-color: #14213d;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 4px 5px black;
  margin: 20px;
  position: relative;
  overflow: hidden;
  width: 300px;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#watchlistBtn {
  padding: 10px 30px;
  border: none;
  background-color: black;
  color: #e5e5e5;
  font-size: 1rem;
}
.card img {
  width: 100%;
}
#favBtn {
  padding: 8px 10px;
  font-size: 1rem;
  color: #e5e5e5;
  background-color: #000000;
  border: none;
  border-radius: 5px;
}
.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fca311;
  background-color: #000000;
  /* background-color: #e5e5e5; */
  /* padding: 0.5rem 1rem 1rem; */
  letter-spacing: 0.5px;
}
.movie-info h3 {
  margin-top: 0;
}
.description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  color: #fca311;
  /* background-color: #fff; */
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}
.card:hover .description {
  transform: translateY(0);
}
.pagination {
  display: flex;
  margin: 10px 30px;
  align-items: center;
  justify-content: center;
}
.page {
  padding: 20px;
}
.page.disabled {
  cursor: not-allowed;
  color: grey;
}
.current {
  padding: 10px 20px;
  border-radius: 50%;
  border: 5px solid gray;
  font-size: 20px;
  font-weight: 600;
}
/* #prev {
  cursor: pointer;
} */
#prev,
#current,
#next {
  color: #e5e5e5;
}
